body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

section {
    box-sizing: border-box;
    border: solid 1px #ccc; 
    width: 350px;
    margin: 10px;
}

section table {
    padding: 10px;
    margin: 10px;
}

section p, section h3 {
    padding: 10px;
    margin: 10px;
}

img {
    width: 100%
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    align-items: start;
}


@media only screen and (max-width: 1000px) {
    /* Media queries go here */
    /* main {
        flex-wrap: wrap;
    }
    section {
        width: calc(50% - 20px);
    } */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
    /* section {
        width: 100%;
    }  */
}