<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <div class="cards">
        {% for item in restaurant %}
        <section>
            <h3>{{item.get("name")}}</h3>
            <img src="{{item.get('image_url')}}">
            <p>{{item.get("display_address")}}</p>
            <table>
                <tr>
                    <td>Price: </td> 
                    <td><strong>{{item.get("price")}}</strong></td>
                </tr>
                <tr>
                    <td>Rating: </td> 
                    <td><strong>{{item.get("rating")}}</strong></td>
                </tr>
                <tr>
                    <td>Reviews: </td> 
                    <td><strong>{{item.get("review_count")}}</strong></td>
                </tr>
            </table>
        </section>
        {% endfor %}
        </div>
    </main>
</body>
</html>

